<tr class="nested-fields">
  <td >
   <div class="field" > 
     <%= f.text_field :name, placeholder: 'name'%>
    </div>
  </td>
   <td>
    <div class="field" > 
      <%= f.text_field :email, placeholder: 'email' %>
    </div>
  </td>
  <td>
  <%= link_to_remove_association "remove participant", f, { class: 'btn btn-danger' } %>
  </td>
</tr>