<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event_gift.title %>
</p>

<p>
  <strong>Price:</strong>
  <%= @event_gift.price %>
</p>

<%= link_to 'Back', event_gifts_path %>
