<span><%= "Bonjour #{@sender.name}"%></span>
<p> <%= "Vous etes invité à l'événement #{@event_gift.title} pour offir un cadeau à #{@recipient.name}."%></p>
<p> <%= "Vous pouvez dépenser jusqu'à #{@event_gift.price} pour votre cadeau."%></p>
<span>Bonnes vacances !</span>


